*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none; 
    color: inherit; 
}

header{
    display: flex;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    justify-content: space-around;
    background-color: #1F2937;
    text-align: center;

}

header h1{
    font-size: 24px;
    font-family: Helvetica;
    color: #F9FAF8
}

.nav-links{
    display: flex;
    gap: 20px;
    align-items: center;
    color: #e5e7eb;
    font-size: 18px;
    font-family: Helvetica;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #3882F6;
}

.about{
    display: flex;
    padding: 20px;
    background-color: #1F2937;
    padding: 70px 0px;
    justify-content: center;
    gap: 55px;
} 

.about-text{
    flex-basis: 400px;
    color: #e5e7ebd3;
    font-size: 18px;
    font-family: Helvetica;
}

.about-text h2{
    font-size: 48px;
    font-weight: 900;
    font-family: Helvetica;
    color: #F9FAF8;
    margin-bottom: 3px;
}

.about-image{
    width: 500px; 
    height: 200px;
    overflow: hidden; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    
}

.about-image img{
    width: 100%; 
    height: auto;
    display: block;
}

.button {
    margin-top: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 7px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }

  .button:hover {
    background-color: #296bc4;
  }

  .button:active {
    transform: scale(0.95);
  }

 
  /* ------------------------INFORMATION PART--------------------------------- */

.info{
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
  }

.info-header{
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    font-family: Helvetica;

}

.info-container{
    display: flex;
    align-items: center;
    max-width: 60%;
    justify-content: center;
    gap: 50px;

}

.info-content{
    flex: 1 1 200px;
    align-items: center;
    justify-content: center;
    font-family: Helvetica;
    color: #040404bf;
}




   

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px; 
    border: 3px solid #3498db; 
    box-shadow: inset;
    
} 